body {
  background-attachment: fixed;
  background-image: url('/assets/images/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.game-canvas {
  background-color: RGBA(233, 229, 219, .9);
  border: 2px solid;
  margin: auto;
  display: block;
}

.logo {
  color: #E9E5DB;
  text-align: center;
  font-family: 'Waiting for the Sunrise', cursive;
  font-weight: bold;
  font-size: 5em;
  margin: -10px;
}

.score {
  color: #E9E5DB;
  text-align: center;
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 2em;
}

h2 {
  display: inline-block;
  margin-top: -10px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.button {
  font-size: 40px;
  display: block;
  width: 250px;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  border: 2px solid #F8C102;
  color: #E9E5DB;
  font-weight: bold;
  background-color: #F8C102;
  background-image: -webkit-linear-gradient(bottom, #FF9635 0%, #F8C102 100%);
  background-image:         linear-gradient(to bottom, #FF9635 0%, #F8C102 100%);
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 25px;
}

a {
  text-decoration: none;
}

.button:hover {
  background-color: #F8C102;
  background-image: -webkit-linear-gradient(bottom, #F8C102 0%, #FF9635 100%);
  background-image:         linear-gradient(to bottom, #F8C102 0%, #FF9635 100%);
}
